<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>19/03/03 18:00:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectTC.TestCase1()[pri:0, instance:testcases.ProjectTC@6eebc39e]">TestCase1</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/03/03 18:00:32</td>   <td>-8372</td> <td>&nbsp;</td><td title="&gt;&gt;acmeProj.acmeProj()[pri:0, instance:testcases.ProjectTC@6eebc39e]">&gt;&gt;acmeProj</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
</table>
